
html {
	background-color: #CCD1D1;
	background-image: url("http://static.tumblr.com/0dbc04d90b64a8b821f6c4a4602b5b4d/6xfo3t2/XMRnb4iu8/tumblr_static_yjl47du30pwwgc0ow0cgk8gc.jpg");
	font-family: verdana;
}

body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.NavBar {
	position: fixed;
	top: 5%;
	left: 50%;
	color: white;
	background-color: rgba(0,0,0,.9);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
}

.Part {
	color: #CCD1D1;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;

	background: rgba(0,0,0,.8);
}

.center {
    margin: 10px;
    border: 3px solid #CCD1D1;
    padding: 3px;
    float: right;
}

.p{
	font-style: italic;
}

.heads {
	color: #99A3A4;
}
